frontend/public/nike_shoe_01.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/nike_sb_photoscan.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/nike_fotball_shoe.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/nike_zoom_pegasus_shoe_by_digitworlds.com.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/yellow_nike_dunk_low_dusty_olive_from_video_clip.glb filter=lfs diff=lfs merge=lfs -text

frontend/public/nike_air_jordans_1_retro_mid_fog_canvas_scan.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/nike_air_max_skor.glb filter=lfs diff=lfs merge=lfs -text
frontend/public/nike_dunks_game_ready__2k_pbr.glb filter=lfs diff=lfs merge=lfs -text
#dependencies
node_modules
# Msic

/frontend/dist

# Msic
.DS_Store
.env
.env.local
.env.development.local
.env.test.local

