.HomeScreen {
  &__background {
    &__logo {
      z-index: 0;

      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 75rem;
      color: #e5e5e5;
      letter-spacing: -1px;

      @include respond(tab-port) {
        font-size: 62rem;
      }
    }
  }
  &__left {
    position: absolute;
    top: 10%;
    left: 18%;
    width: 50rem;
    height: 72rem;
    z-index: 13;
    @include respond(tab-port) {
      top: 10%;
      left: 9%;
    }
    &__big-text {
      font-family: "Goldman", cursive;
      display: block;
      font-weight: 600;

      color: $font-color-default;
      font-size: 17rem;
    }
    &__small-text {
      display: block;
      font-weight: 600;
      color: rgba($font-color-default, 0.633);
      font-size: 2.2rem;
    }
  }

  &__center {
    position: absolute;
    top: 40%;
    left: 54%;
    width: 110rem;
    height: 100rem;
    z-index: 10;
    transform: translate(-50%, -50%);
    @include respond(tab-port) {
      width: 84rem;
      height: 80rem;
      z-index: 1000;
      left: 59%;
      z-index: 1000;
    }
  }

  &__right {
    position: absolute;
    top: 40%;
    right: 18.1%;
    width: 33rem;
    height: 28rem;
    display: flex;
    display: block;
    font-family: "Oswald", sans-serif;
    z-index: 13;
    @include respond(tab-port) {
      top: 49%;
      right: 9.1%;
      width: 33rem;
      height: 28rem;
    }
    &__product-name {
      color: $font-primary-2;
      font-size: 5rem;
      display: block;
    }
    &__product-price {
      font-size: 10rem;
      display: block;
      color: rgb(37, 37, 37);
      font-weight: 600;
    }
    &__product-description {
      font-size: 2.2rem;
      display: block;
      color: $font-color-default;
    }
  }
  &__down {
    position: absolute;
    top: 73%;
    left: 13%;
    /* width: 190rem; */
    width: 250rem;
    height: 33rem;
    display: flex;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
