.loginScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  font-family: "Oswald", sans-serif;
  &__form {
    input {
      display: block;
      width: 50rem;
      height: 7rem;
      background-color: rgba(194, 194, 194, 0.493);
      border: none;
      margin: 0.5rem 0;
      font-size: 2.5rem;
      border-radius: 1rem;
      padding: 1rem;
    }
    label {
      font-size: 2.5rem;
      display: flex;
    }
    button {
      margin: 3rem 0;
      width: 51rem;
      height: 6rem;
      font-size: 2.3rem;
      color: white;
      background-color: black;
      border-radius: 1rem;
      cursor: pointer;
    }
  }
  &__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 83%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__logo {
      text-decoration: none;
      font-size: 5.5rem;
      color: black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 600;
      width: 50rem;
      height: 16rem;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 7rem;

      img {
        width: 13rem;
        height: 18rem;
      }
    }

    &__title {
      font-size: 4.5rem;
      font-weight: 600;
      width: 50rem;
      height: 7rem;
      display: flex;
      justify-content: flex-start;
    }
    &__side-title {
      font-size: 2rem;
      color: #979797;
      width: 50rem;
      height: 7rem;
      display: flex;
      justify-content: flex-start;
    }

    &__register {
      text-decoration: none;
      font-size: 2rem;
      width: 50rem;
      height: 3rem;
      color: #8d8c8c;
    }
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 97%;
    width: 70%;
    background-image: url(../images/loginScreen__wallpaper.jpg);
    background-position: center;
    background-size: contain;

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-top-left-radius: 7.5rem;
  }
}
