.loginScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3rem;
  font-family: "Oswald", sans-serif;
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32rem;
    font-size: 2.5rem;
    border-radius: 1rem;
    input {
      width: 90%;
      height: 100%;
      font-size: 2rem;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
    }
    label {
      font-size: 2.5rem;
      display: flex;
    }
    button {
      margin: 3rem 0;
      width: 90%;
      height: 35rem;
      font-size: 2.3rem;
      color: #fff;
      background-color: #000;
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  .loginScreen__wrap {
    display: flex;
    flex-direction: column;
    width: 42rem;
    height: 64rem;

    @media (max-width: 90em) {
      width: 32rem;
      height: 64rem;
    }
  }
  &__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 83%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__logo {
      text-decoration: none;
      font-size: 4.5rem;
      color: #000;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 600;
      width: 40rem;
      height: 16rem;
      display: flex;
      justify-content: flex-start;
      @media (max-width: 90em) {
        margin-top: 14rem;
        font-size: 4rem;
        cursor: pointer;

        width: 35rem;
        height: 16rem;
      }
      img {
        width: 10rem;
        height: 16rem;
        @media (max-width: 90em) {
          width: 8rem;
          height: 14rem;
        }
      }
    }

    &__title {
      font-size: 4.5rem;
      font-weight: 600;
      width: 76%;
      height: 8rem;
      display: flex;
      justify-content: flex-start;

      @media (max-width: 90em) {
        font-size: 3.5rem;
        height: 5rem;
      }
    }
    &__side-title {
      font-size: 2rem;
      color: #979797;
      width: 76%;
      height: 6rem;
      display: flex;
      justify-content: flex-start;
    }

    &__register {
      text-decoration: none;
      font-size: 2rem;
      width: 90%;
      height: 3rem;
      color: #8d8c8c;
    }
  }

  &__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 97%;
    width: 70%;
    background-image: url(../images/loginScreen__wallpaper.jpg);
    background-position: center;
    background-size: contain;

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-top-left-radius: 7.5rem;
  }
}
.register {
  width: 42rem !important;
  height: 59rem !important;
  button {
    /* margin: 3rem 0; */
    width: 90% !important;
    height: 73rem !important;
    font-size: 2.3rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    @media (max-width: 90em) {
      width: 76%;
    }
  }

  &__ask {
    font-size: 2rem !important;
    width: 90% !important;
    height: 3rem !important;
    text-decoration: none;
  }
}
