.productScreen {
  position: relative;
  width: 100%;
  height: 100%;
  &__top {
    position: absolute;
    width: 90%;
    height: 12rem;
    top: -19px;

    display: flex;
    left: 0;
    align-items: start;
    justify-content: start;
    text-align: center;
    span {
      position: absolute;
      font-size: 6rem;
      left: 50%;
      font-weight: 700;
      top: 27%;
    }

    a {
      position: absolute;
      top: 27%;
      left: 4%;
      color: black;
      font-size: 7rem;
    }
  }
  &__product-select {
    display: flex;
    align-items: center;
    justify-content: start;
    select {
      margin-left: 1rem;
      border: none;
    }
  }

  &__model-image {
    position: absolute;
    top: 49%;
    left: 46%;
    width: 16rem;
    height: 27rem;
  }

  &__middle {
    position: absolute;
    width: 86%;
    height: 74%;
    top: 8%;
    left: 4%;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    &__3d-wrap {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      &--3d {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 70%;
      }
      &--img {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        height: 20%;
        &__wrap {
          width: 15rem;
          height: 14rem;
          background-size: contain;
          border: 3px solid black;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    &-split:first-child {
      height: 100%;
      width: 50%;
      position: absolute;
      left: 0;
    }
    &-split:last-child {
      height: 100%;
      width: 50%;
      position: absolute;
      right: 0;

      @include respond(tab-land-wide) {
        height: 68%;
        width: 47%;
        position: absolute;
        right: 0;
        top: 13%;
      }

      @include respond(tab-land) {
        height: 56%;
        width: 51%;
        position: absolute;
        right: 4%;
        top: 24%;
      }

      @include respond(tab-port) {
        height: 40%;
        width: 52%;
        position: absolute;
        right: 4%;
        top: 32%;
      }
    }
    &__side-top {
      position: absolute;
      width: 62%;
      height: auto;
      top: 3%;
      left: 12px;

      @include respond(tab-land-wide) {
        top: 10%;
      }
      @include respond(tab-land) {
        top: 10%;
      }

      @include respond(tab-port) {
        top: 10%;
      }
    }

    &__side-down {
      font-size: 2rem;
      font-weight: 300;
      position: absolute;
      width: 40%;
      height: auto;
      top: 59%;
      left: 0;
      display: flex;
      flex-direction: column;

      @include respond(tab-land-wide) {
        font-size: 1.5rem;
      }

      @include respond(tab-land) {
        font-size: 1.5rem;
      }
      @include respond(tab-port) {
        font-size: 1.5rem;
      }
      span {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        margin-left: 1rem;
        padding: 1.5rem 0;
        border-bottom: 4px solid black;
      }
    }
  }
  &__product-name {
    font-family: "Archivo Black", sans-serif;
    font-size: 9rem;
    line-height: 0.8;
    margin-top: 5rem;
    display: block;
    text-transform: uppercase;
    @include respond(tab-land-wide) {
      font-size: 7rem;
    }

    @include respond(tab-land) {
      font-size: 7rem;
    }

    @include respond(tab-port) {
      font-size: 7rem;
    }
  }
  &__product-price {
    display: block;
    margin-top: 1.5rem;
    font-size: 5rem;
  }
  &__down {
    position: absolute;
    width: 90%;
    height: 18%;
    display: flex;
    bottom: 2px;

    &__Link {
      font-size: 2.4rem;
      text-decoration: none;
      width: 26%;
      height: 100%;
      font-weight: 600;
      display: flex;
      text-align: center;
      align-items: center;
      color: white;
    }
    button {
      font-size: 2rem;

      text-decoration: none;
      width: 26%;
      height: 100%;
      font-weight: 600;
      cursor: pointer;
    }
    &__cart {
      width: 20%;
      height: 100%;
      background-color: black;
      justify-content: center;
      display: flex;
      align-items: center;
      color: white;
    }
    &__fav {
      width: 20%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      justify-content: center;
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
      font-size: 2.4rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
  &__right {
    position: fixed;
    width: 10%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    right: 0;
    border-left: 1px solid rgb(0, 0, 0);

    @include respond(tab-land) {
      width: 13%;
    }

    @include respond(tab-port) {
      width: 13%;
    }
    &__user {
      width: 100%;
      height: 15rem;
      background-color: #000;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      display: flex;
      @include respond(tab-land-wide) {
      }
      i {
        color: white;
        font-size: 8rem;
        @include respond(tab-land-wide) {
          font-size: 6rem;
        }

        @include respond(tab-land) {
          font-size: 6rem;
        }
        @include respond(tab-port) {
          font-size: 6rem;
        }
      }
      span {
        color: white;
        font-size: 2rem;
        @include respond(tab-land-wide) {
          font-size: 1.5rem;
        }

        @include respond(tab-land) {
          font-size: 1.5rem;
        }

        @include respond(tab-port) {
          font-size: 1.5rem;
        }
      }
    }
    &-image {
      width: 15rem;
      height: 10rem;
      background-size: cover;
      background-position: center;
      @include respond(tab-land-wide) {
        width: 13rem;
      }

      @include respond(tab-land) {
        width: 13rem;
      }

      @include respond(tab-port) {
        width: 13rem;
      }
    }
    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 90%;
      justify-content: center;
      @include respond(tab-land-wide) {
      }
    }

    &__home {
      width: 100%;
      height: 18rem;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      cursor: pointer;
      @include respond(tab-land-wide) {
        top: 10%;
      }

      @include respond(tab-land) {
        top: 10%;
      }

      @include respond(tab-port) {
        top: 10%;
      }
      i {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        color: #fff;
      }
    }
  }
}
