.SnkrsScreen {
  display: flex;
  position: relative;
  width: 69%;
  flex-direction: column;
  height: 94%;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  &__category__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
  }

  &__upper__wrap {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
  }
}
.SnkrsScreen__wrap {
  width: 100%;
  height: 72rem;
  display: flex;
  flex-direction: column;
}

.SnkrsScreen__wrap__title {
  font-weight: 500;
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  &__column {
    width: 26rem;
    margin: 2rem;
    height: 29rem;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
  }
  .row__column__wrap {
    align-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 37rem;

    background-color: $bgb-color-white;
    font-family: "Oswald", sans-serif;

    .cyberCard__image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    .cyberCard__image__wrap {
      height: 50%;
      width: 100%;
      font-size: 4rem;
      text-align: center;
      overflow: hidden;
    }
    .cyberCard__title {
      height: 8%;
      width: 100%;
      font-size: 2rem;
      font-weight: 300;
      display: flex;
      justify-content: flex-start;
      text-align: center;
      align-items: center;
      z-index: 1;
      a {
        text-decoration: none;
        color: $font-color-black;
      }
    }
    .bxs-star {
      font-size: 1.3rem;
      color: $font-color-black;
    }

    .bxs-star-half {
      font-size: 1.3rem;
      color: $font-color-black;
    }
    .cyberCard__text {
      height: 7%;
      width: 100%;
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-start;
      text-align: center;
      align-items: center;
      a {
        text-decoration: none;
        color: $font-color-black;
      }
      &__review {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}
