$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(254, 70, 68);
$primary-color-2: rgb(47, 68, 115);
$primary-color-dark: rgb(204, 204, 204);
$font-color-default: rgb(0, 0, 0);
$bgb-color-white: white;
$font-color-black: black;
$font-primary-2: rgb(3, 3, 3);
