* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 65.5%;
  //1rem = 10px; 10/16 = 62.5%

  @include respond(phone) {
    font-size: 30%; //600px
  }
  @include respond(tab-port) {
    font-size: 50%; //900px
  }
  @include respond(tab-land) {
    font-size: 57.25%; //1200px
  }
  @include respond(tab-land-wide) {
    font-size: 64.25%; //1440px
  }
  @include respond(big-desktop) {
    font-size: 67%; //1800px
    //1rem = 12, 12/1
  }
}
body {
  display: block;
  min-height: 100vh;
}
main {
  height: 92vh;
  background-color: $primary-color;
  display: flex;
}
